[MASTER]
ignore=setup.py,docs/source/conf.py

[MESSAGES CONTROL]
disable=
        # mock argument,
        unused-argument,
        # configparser import,
        import-error,
        # unit test method,
        too-many-public-methods,
        # python3 sys.stdin.buffer,
        maybe-no-member,
        # decorator of mock,
        arguments-differ,
        # print for Python3 syntax,
        superfluous-parens,
        # for unit test,
        duplicate-code,
        # List Comprehensions for loop,
        expression-not-assigned,
