#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	for py in $(shell pyversions -vr); do \
		python$$ setup.py build --build-base=_build$$py; \
	done

override_dh_auto_test:
	set -e; \
	for py in $(shell pyversions -vr); do \
		if [ "$$py" < "3.0" ]; then \
			py.test-$$py -v $(CURDIR)/_build/lib.$(shell python -c 'import distutils.util as d; print d.get_platform()')-$$py; \
		else \
			py.test-3 -v $(CURDIR)/_build/lib ;\
		fi ;\
	done

override_dh_python3:
	dh_python3 && \
	mv -f $(CURDIR)/debian/python3-backup2swift/usr/bin/bu2sw $(CURDIR)/debian/python3-backup2swift/usr/bin/bu2sw3
	mv -f $(CURDIR)/debian/python3-backup2swift/usr/share/backup2swift/examples/bu2sw.conf $(CURDIR)/debian/python3-backup2swift/usr/share/backup2swift/examples/bu2sw_py3.conf
	mv -f $(CURDIR)/debian/python3-backup2swift/usr/share/backup2swift/examples/bu2sw_ignore_verify.conf $(CURDIR)/debian/python3-backup2swift/usr/share/backup2swift/examples/bu2sw_ignor_verify_py3.conf

override_dh_installman:
	dh_installman
	mv -f $(CURDIR)/debian/python3-backup2swift/usr/share/man/man1/bu2sw.1 $(CURDIR)/debian/python3-backup2swift/usr/share/man/man1/bu2sw3.1

override_dh_auto_install:
	python setup.py install --no-compile -O0 --install-layout=deb \
		--root $(CURDIR)/debian/python-backup2swift && \
	python3 setup.py install --no-compile -O0 --install-layout=deb \
		--root $(CURDIR)/debian/python3-backup2swift && \
	rm -rf $(CURDIR)/debian/python-backup2swift/usr/share/pyshared/backup2swift_tests
	rm -rf $(CURDIR)/debian/python-backup2swift/usr/lib/python2.6/dist-packages/backup2swift_tests
	rm -rf $(CURDIR)/debian/python-backup2swift/usr/lib/python2.7/dist-packages/backup2swift_tests
	rm -rf $(CURDIR)/debian/python3-backup2swift/usr/lib/python3/dist-packages/backup2swift_tests

override_dh_auto_clean:
	dh_clean
	for py in $(shell pyversions -vr); do \
		python$$py setup.py clean --build-temp=_build && \
		python$$py setup.py clean --build-temp=_build$$py; \
	done
	rm -rf $(CURDIR)/_build